@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.calculator-keys {
  display: grid;
  grid-template-areas:
    "clear       clear  clear     key--add"
    "key1       key2    key3       key--substract"
    "key4       key5   key6         key--multiply"
    "key7      key8    key9         key--divide"
    " key0     key0   decimal     key--equal";
  animation: fade linear both;
  -webkit-animation: fade 2s;
}
.key1 {
  height: 30px;
  border-width: 0.01px;
}
.key2 {
  height: 30px;
  border-width: 0.01px;
}
.key3 {
  height: 30px;
  border-width: 0.01px;
}
.key4 {
  height: 30px;
  border-width: 0.01px;
}
.key5 {
  height: 30px;
  border-width: 0.01px;
}
.key6 {
  height: 30px;
  border-width: 0.01px;
}
.key7 {
  height: 30px;
  border-width: 0.01px;
}
.key8 {
  height: 30px;
  border-width: 0.01px;
}
.key9 {
  height: 30px;
  border-width: 0.01px;
}
.key0 {
  height: 30px;
  border-width: 0.01px;
}
.decimal {
  height: 30px;
  border-width: 0.01px;
}
.clear {
  height: 30px;
  background-color: orange;
  border-width: 0.01px;
}
.key--equal {
  height: 30px;
  background-color: orange;
  border-width: 0.01px;
}
.key--add {
  background-color: orange;
  height: 30px;
  border-width: 0.01px;
}
.key--substract {
  background-color: orange;
  height: 30px;
  border-width: 0.01px;
}
.key--multiply {
  background-color: orange;
  height: 30px;
  border-width: 0.01px;
}
.key--divide {
  background-color: orange;
  height: 30px;
  border-width: 0.01px;
}
.calculator-display {
  display: flex;
  background-color: rgb(17, 10, 10);
  color: white;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  border-radius: 3px;
  padding-right: 10px;
  animation: fade linear both;
  -webkit-animation: fade 2s;
}
.navbare {
  display: flex;
  background-color: #551521;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue";
  color: white;
  background: linear-gradient(150deg, rgb(147, 46, 46), transparent);
  scroll-behavior: smooth;
}
.welcome {
  margin-left: 10px;
  margin-top: 30px;
  font-family: "Helvetica Neue";
  color: white;
  animation: fade linear both;
  -webkit-animation: fade 2s;
}
.paragraph {
  margin-left: 10px;
  font-family: "Helvetica Neue";
  color: white;
  animation: fade linear both;
  -webkit-animation: fade 2s;
}
body {
  margin: 0;
  background-color: #191919;
  background: linear-gradient(10000deg, #191919, #2b2a2a);
  scroll-behavior: smooth;
}
